/*header*/

.header {
    position: relative;
    min-height: 100vh;
    background-color: #e1edf2;
    background-image: url("./../img/header/header.jpg");
    background-size: cover;
    background-position: center;
}
.header__top {
    padding: 44px 0;
    margin-bottom: 126px;
}
.header__arrows {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
/*nav*/
.nav {
    display: flex;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    align-items: center;
    column-gap: 118px;
}
.nav__btn {
    display: none;
}
.link {
    color: #114455;
    font-size: 20px;
    font-weight: 800;
}

/*button*/
/* Очень важна последовательность действий и расположения значений т.к. в неправильной последовательности данные не будут отображаться коректно*/
.btn {
    position: relative;
    color: #114455;
    font-size: 20px;
    font-weight: 800;

    border-radius: 2px;
    border: 1px solid #114455;

    padding: 10px 24px;
    padding-right: 72px;
    display: inline-block;
    transition: color 0.15s ease-in, background-color 0.15s ease-in;
}
.btn::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;

    background-image: url("./../img/icons/Arrow-Right-Black.svg");
    background-repeat: no-repeat;
    background-position: center;

    right: 24px;
    top: 50%;
    transform: translateY(-50%);
}
.btn:hover,
.btn:focus {
    background-color: #114455;
    color: #fff;
}
.btn:active {
    top: 1px;
}
.btn:hover::after {
    background-image: url("./../img/icons/Arrow-Right-white.svg");
}
.btn--big {
    padding: 14px 32px;
    padding-right: 80px;
}
.btn--dark {
    background-color: #114455;
    color: #fff;
}
.btn--dark::after {
    background-image: url("./../img/icons/Arrow-Right-white.svg");
}
.btn--dark:hover,
.btn--dark:focus {
    background-color: black;
}

/*header content*/
.header__content-mobile {
    display: none;
}

.header__content {
    max-width: 1060px;
}
.header__title {
    font-weight: 800;
    color: #114455;
    font-size: 80px;
    max-width: 734px;
    margin-bottom: 48px;
}
.header__text {
    font-size: 34px;
    color: #1f1f1f;
    margin-bottom: 72px;
    line-height: 1.57;
}
.header__text p + p {
    margin-top: 1em;
}

/*mobile nav active*/

.mobile-nav {
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    padding: 44px 15px 32px 24px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 30px;

    background-color: #fff;
}

.mobile-nav__header {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 66px; */
}

.mobile-nav__logo {
    max-width: 109px;
}

.mobile-nav__btn {
    margin-right: 1px;
}

.mobile-list {
    margin-bottom: 60px;
    font-size: 40px;
    color: #1f1f1f;
    font-weight: 800;
}

.mobile-list a {
    color: #1f1f1f;
}

.mobile-contacts {
    /* margin-bottom: 80px; */
    font-size: 16px;
    line-height: 1.5;
}

.mobile-contacts a {
    color: rgba(31, 31, 31, 0.7);
}

.mobile-contacts__title {
    margin-bottom: 32px;
    font-size: 24px;
    font-weight: 800;
    color: #1f1f1f;
}

.mobile-contacts__email {
    /* display: block;*/
    margin-bottom: 16px;
}

.mobile-contacts__phone {
    /*display: block;*/
    margin-bottom: 16px;
}
.mobile-contacts__address {
    font-style: normal;
}

.mobile-footer {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a.mobile-footer__email {
    display: block;
    margin-bottom: 16px;
    color: rgba(73, 42, 211, 0.7);
}

.mobile-socials {
    margin-bottom: 32px;
}

.mobile-socials img {
    width: 24px;
}

.mobile-footer__copyright {
    font-size: 14px;
    color: rgba(31, 31, 31, 0.7);
}
